.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1818px;
  height: 1150px;  
  padding-top: 60px; /* Ajuste para a barra de navegação fixa */
  background-color: white;  
}
